/* Basic CSS styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  header img {
    width: 100px; /* Adjust width as needed */
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  #login-form {
    padding: 20px;
    border-bottom: 1px solid #ddd;
  }
  
  #login-form h2 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #333;
  }
  
  #login-form input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  #login-form input[type="text"]:focus {
    outline: none;
    border-color: #007bff;
  }
  
  #login-form #captcha {
    margin-bottom: 10px;
  }
  
  #login-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #login-form button:hover {
    background-color: #0056b3;
  }
  
  #instructions {
    display: none;
    padding: 20px;
  }
  
  footer {
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  .btn-pulse {
    animation: pulse 2s infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  