/* Basic CSS styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FEFEBE;
  }
  
  header {
    background-color: #FEFEBE;
    color: #FEFEBE;
    padding: 10px;
    text-align: center;
  }
  
  header img {
    width: 100px; /* Adjust width as needed */
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
    background-color: #FEFEBE;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  #login-form {
    padding: 20px;
    border-bottom: 1px solid #ddd;
  }
  
  #login-form h2 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #FEFEBE;
  }
  
  #login-form input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  #login-form input[type="text"]:focus {
    outline: none;
    border-color: #007bff;
  }
  
  #login-form #captcha {
    margin-bottom: 10px;
  }
  
  #login-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #login-form button:hover {
    background-color: #0056b3;
  }
  
  #instructions {
    display: none;
    padding: 20px;
  }
  
  footer {
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 0;
  }
  .btn-pulse {
    animation: pulse 2s infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  /* Updated CSS */
#video-section {
  background-color: #f7f7f7; /* Set a background color for the video section */
  padding: 20px 0; /* Add some padding for spacing */
}

#video-section .container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center; /* Center the video */
}

#video-section h2 {
  margin-bottom: 20px; /* Add space below the heading */
}

#video-section video {
  max-width: 100%; /* Make the video responsive */
  height: auto;
}
.recruitment-title {
  color: red;
}
