/* Basic CSS styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FEFEBE;
  }
  
  header {
    background-color: #FEFEBE;
    color: #FEFEBE;
    padding: 10px;
    text-align: center;
  }
  
  header img {
    width: 100px; /* Adjust width as needed */
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
    background-color: #FEFEBE;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  #login-form {
    padding: 20px;
    border-bottom: 1px solid #ddd;
  }
  
  #login-form h2 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #FEFEBE;
  }
  
  #login-form input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  #login-form input[type="text"]:focus {
    outline: none;
    border-color: #007bff;
  }
  
  #login-form #captcha {
    margin-bottom: 10px;
  }
  
  #login-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #login-form button:hover {
    background-color: #0056b3;
  }
  
  #instructions {
    display: none;
    padding: 20px;
  }
  
  footer {
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 0;
  }
  .btn-pulse {
    animation: pulse 2s infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  /* Updated CSS */
#video-section {
  background-color: #f7f7f7; /* Set a background color for the video section */
  padding: 20px 0; /* Add some padding for spacing */
}

#video-section .container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center; /* Center the video */
}

#video-section h2 {
  margin-bottom: 20px; /* Add space below the heading */
}

#video-section video {
  max-width: 100%; /* Make the video responsive */
  height: auto;
}
.recruitment-title {
  color: red;
}

#MobileMenu .modal-body {
  background-image: url(https://cdn.suicidesquadgame.com/season-1/mobile-menu-bg.jpg);
}

section.pre-footer {
  background-image: url(https://cdn.suicidesquadgame.com/_2023b/static/footer-metropolis-bg-m.jpg);
}

@media (min-width: 992px) {
  section.pre-footer {
      background-image: url(https://cdn.suicidesquadgame.com/_2023b/static/footer-metropolis-bg_2560.jpg);
  }
}

@media (min-width: 1600px) {}

@media (min-width: 1920px) {}

.hero {
  position: relative;
  overflow: hidden;
  width: 100vw;
  /* Full width of the viewport */
  height: 60vh;
  /* Full height of the viewport */
  background: #000;
  /* Fallback background color */
  padding: 0px 0; /* Adjust the top and bottom padding as needed */

}

.logo {
  display: inline-block;
  position: relative;
  color: #ee1d23;
  /* Red color similar to the Avengers */
}
.content {
margin-top: 20px; /* Adjust the top margin as needed */
}


.star {
  color: #0077c7;
  /* Blue color similar to the Avengers */
}

.paragraph-texts {
padding-bottom: 100px; /* Add more padding to the bottom */
}
body {
font-family: Arial, sans-serif;
}

.quiz-container {
max-width: 600px;
margin: 0 auto;
text-align: center;
}

.question {
font-size: 24px;
margin-bottom: 20px;
}

.answers {
display: flex;
flex-direction: column;
align-items: center;
}

.answer-button {
margin: 5px;
padding: 10px 20px;
font-size: 18px;
cursor: pointer;
}

.loading-container {
display: none;
}

.loading {
border: 16px solid #f3f3f3; /* Light grey */
border-top: 16px solid #3498db; /* Blue */
border-radius: 50%;
width: 120px;
height: 120px;
animation: spin 2s linear infinite;
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
.img-medium {
max-width: 50%; /* Adjust the width as needed */
height: auto; /* Maintain aspect ratio */
}

